<?xml version="1.0" encoding="UTF-8"?>
<Configuration strict="true"
               xmlns="http://logging.apache.org/log4j/2.0/config"
               xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xsi:schemaLocation="http://logging.apache.org/log4j/2.0/config 
           https://raw.githubusercontent.com/apache/logging-log4j2/log4j-2.2/log4j-core/src/main/resources/Log4j-config.xsd">
    <Properties>
        <Property name="LOG_DIR">logs</Property>
    </Properties>

    <Appenders>
        <Console name="Console">
            <PatternLayout pattern="%d [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        
        <RollingFile
            name="rollingFile"
            fileName="${LOG_DIR}/AppDeEjemploAC.log"
            filePattern="${LOG_DIR}/AppDeEjemploAC.%i.log.gz"
            ignoreExceptions="false">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%t] %-5p %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="100MB" />
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="com.riardogr.es.Cliente" level="fatal">
            <AppenderRef ref="rollingFile"/>
        </Logger>
        <Logger name="com.riardogr.es.Concesionario" level="fatal">
            <AppenderRef ref="rollingFile"/>
        </Logger>
        <Root level="error">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="rollingFile"/>
        </Root>
    </Loggers>
</Configuration>